<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <!-- <div *ngIf="folder==='gundu'"> -->
 
      <div *ngIf="folder==='Inbox' ; else notShow">

        <div id="container">
          <strong class="capitalize">Please Select an option from side menu</strong>
          <p>Explore <a target="_blank" rel="noopener noreferrer" href="http://homecamera.herokuapp.com/">Web version</a></p>
      
        </div> -->

  
 </div> 

<ng-template #notShow>

    <app-cameracontrol [useridcompo]="folder"></app-cameracontrol> 


</ng-template>


<!--   <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>

  </div> -->
</ion-content>
