





 <section>

  <ion-button expand="block" (click)="savecamera()" >Save</ion-button>
</section>








<ion-card>
  <ion-card-header>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title>Enable Monitoring</ion-card-title>
  </ion-card-header>

  <ion-card-content>
      <ion-grid>
          <ion-row>
 


  <ion-col>
<strong>Enable monitoring</strong>

    </ion-col>
    <ion-col>
        <ion-toggle [(ngModel)]="config.main"></ion-toggle>  
    </ion-col>
    <ion-col>



      
    </ion-col>

  
</ion-row>


<ion-row>
 


  <ion-col>
<strong>Enable phone Call</strong>

    </ion-col>
    <ion-col>
        <ion-toggle [(ngModel)]="config.callswitch"></ion-toggle>  
    </ion-col>
    <ion-col>



      
    </ion-col>

  
</ion-row>


<ion-row>
 


  <ion-col>
<strong>Accuracy</strong>

    </ion-col>
    <ion-col>
        <ion-toggle [(ngModel)]="config.accuracy"></ion-toggle>  
    </ion-col>
    <ion-col>



      
    </ion-col>

  
</ion-row>














<ion-row>

  <ion-item style="width: 100%">
    <ion-label position="floating" >Telegram Id</ion-label>
    <ion-input  [(ngModel)]="config.chatid"></ion-input>
  </ion-item>


</ion-row>


<ion-row>

  <ion-item style="width: 100%">
    <ion-label position="floating">Reload time</ion-label>
    <ion-input type="number"  [(ngModel)]="config.reloadtime"></ion-input>
  </ion-item>


</ion-row>













</ion-grid>
    
  </ion-card-content>



</ion-card>




<ion-card>



  <ion-card-header>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title>Cameras</ion-card-title>
  </ion-card-header>

  <ion-card-content>

      <ion-grid>
        <div  *ngFor="let camera of cameras;let i = index">

            <ion-row>

                <ion-item style="width: 100%">
                  <ion-label position="floating"  >Camera Name</ion-label>
                  <ion-input [(ngModel)]="camera.cameraname"></ion-input>
                </ion-item>


              
              
              </ion-row>

              <ion-row>

                  <ion-item style="width: 100%">
                    <ion-label position="floating"  >Camera URL</ion-label>
                    <ion-input [(ngModel)]="camera.camurl"></ion-input>
                  </ion-item>
  
                  
                
                
                </ion-row>


<ion-row>


<ion-col>
  <ion-toggle [(ngModel)]="camera.switch"></ion-toggle>  


</ion-col>
<ion-col>


  </ion-col>

<ion-col>

    <ion-button color="danger" (click)="removecamera(i)">Remove Camera</ion-button>


</ion-col>



</ion-row>




        </div>

      </ion-grid>
 

      <ion-button expand="block" (click)="saveitup()" >Add Camera</ion-button>






  </ion-card-content>









</ion-card>